---
title: Elixir
active: 1
---

{% include top.html %}
<div id="content">
	<div class="hfeed">
    <div class="hentry post">
			<a href="http://demo.alienwp.com/origin/responsive-video/" title="Responsive Video"><img src="http://demo.alienwp.com/origin/files/2012/01/video_responsive-150x150.jpg" alt="Responsive Video" class="archive-thumbnail featured"></a>
			<div class="sticky-header">
				<h2 class="entry-title"><a href="http://demo.alienwp.com/origin/responsive-video/" title="Responsive Video" rel="bookmark">What is Elixir?</a></h2>
				<div class="byline"><abbr class="published" title="Tuesday, January 17th, 2012, 1:54 pm">January 17, 2012</abbr> · by <span class="author vcard"><a class="url fn n" href="http://demo.alienwp.com/origin/author/admin/" title="Griden">Griden</a></span> · in <span class="category"><a href="http://demo.alienwp.com/origin/category/blog/" rel="tag">Blog</a></span> </div>
			</div><!-- .sticky-header -->

			<div class="entry-summary">
				<p>Duis platea risus elementum in tortor parturient sed, pulvinar dignissim parturient a proin risus elementum sed velit natoque pid vel nunc in non, enim scelerisque turpis. Aenean mauris lundium, turpis massa diam eros nisi facilisis. Ultrices integer augue. Lacus turpis…</p>
			</div><!-- .entry-summary -->
		</div>
	</div><!-- .hfeed -->
</div><!-- #content -->


<div id="sidebar-primary" class="sidebar">
  {% include search.html %}
</div>

{% include bottom.html %}