  		</div><!-- #main -->
  		<div class="clear">
		  </div>
  	</div><!-- .wrap -->
	</div><!-- #container -->

  <div id="footer">
    <div class="wrap">
      <div id="social">
        <ul>
          <!-- <li class="menu-item"><a href="/" target="_blank"><img src="/images/social/RSS.png" /></a></li> -->
          <li class="menu-item"><a href="https://github.com/elixir-lang" target="_blank"><img src="/images/social/Github.png" /></a></li>
        </ul>
      </div>

      <div id="twitter">
        <h4 class="title">
          <a href="http://twitter.com/elixirlang" target="_blank">Recent Tweets</a>
        </h4>

        <div id="twitter-feed">
        </div>
      </div>

      <p id="copyright">
        Elixir is proudly sponsored by <a href="http://plataformatec.com.br/" target="_blank">Plataformatec</a>.<br />
        © 2012 Plataformatec. All rights reserved.
      </p>
    </div>
	</div>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-8268430-6']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>