<div class="widget categories-list">
  <h3 class="widget-title">Blog Categories</h3>
  <ul>
  {% assign sorted_cats = site.categories | sort %}
  {% for category in sorted_cats %}
    {% assign category_first = category | first %}
    <li>
    {% if category_first == "Elixir in Production" %}
      <a class="spec" href="/cases.html">{{ category_first }}</a>
    {% else %}
      <a class="spec" href="/blog/categories.html#{{ category_first }}">{{ category_first }}</a>
    {% endif %}      
    </li>
  {% endfor %}
  </ul>
</div>
