{% include conferences.html %}

<div class="widget">
  <h3 class="widget-title">Official Channels</h3>
  <ul>
    <li><a class="spec" href="irc://irc.freenode.net/elixir-lang">#elixir-lang on freenode IRC</a></li>
    <li><a class="spec" href="https://twitter.com/elixirlang">@elixirlang on Twitter</a></li>
  </ul>
</div>

{% include mini-docu.html %}

<div class="widget">
  <h3 class="widget-title">Join the Community</h3>
  <ul>
    <li><a class="spec" href="http://elixirforum.com">Elixir Forum</a></li>
    <li><a class="spec" href="https://elixir-slackin.herokuapp.com/">Elixir on Slack</a></li>
    <li><a class="spec" href="https://discord.gg/elixir">Elixir on Discord</a></li>
    <li><a class="spec" href="http://elixir.meetup.com">Meetups around the world</a></li>
    <li><a class="spec" href="https://github.com/elixir-lang/elixir/wiki">Wiki with events and resources maintained by the community</a></li>
  </ul>
</div>

{% include eef.html %}

<div class="widget">
  <h3 class="widget-title">Important links</h3>
  <ul>
    <li><a class="spec" href="https://github.com/elixir-lang/elixir">Source Code & Contributing</a></li>
    <li><a class="spec" href="https://github.com/elixir-lang/elixir/issues">Issues tracker</a></li>
    <li><a class="spec" href="https://github.com/elixir-lang/elixir/wiki/Code-Editor-Support">Code Editor Support</a></li>
    <li><a class="spec" href="/crash-course.html">Crash course for Erlang developers</a></li>
  </ul>
</div>

{% include plataformatec.html %}