<div class="widget">
  <h3 class="widget-title">Important links</h3>
  <ul>
    <li class="menu-item docs"><a class="spec" href="/docs.html">API Documentation</a></li>
    <li class="menu-item development"><a class="spec" href="/development.html">The development cycle</a></li>
    <li><a class="spec" href="https://github.com/elixir-lang/elixir">Source code & issues tracker</a></li>
  </ul>
</div>

<div id="mini-docu" class="widget">
  <a href="https://cult.honeypot.io/originals/elixir-the-documentary">
    <div class="mini-docu-cta">
      <div class="mini-docu-copy">Watch the Elixir<br />mini-documentary!</div>
    </div>
  </a>
</div>

<!-- <div class="widget events">
  <h3 class="widget-title">Upcoming events</h3>
  {% include conferences.html %}
</div> -->

<div class="widget">
  <h3 class="widget-title">Join the Community</h3>
  <ul>
    <li><a class="spec" href="https://hex.pm">Hex.pm package manager</a></li>
    <li><a class="spec" href="https://twitter.com/elixirlang">@elixirlang on Twitter</a></li>
    <li><a class="spec" href="irc://irc.libera.chat/elixir">#elixir on irc.libera.chat</a></li>
    <li><a class="spec" href="http://elixirforum.com">Elixir Forum</a></li>
    <li><a class="spec" href="https://elixir-slackin.herokuapp.com/">Elixir on Slack</a></li>
    <li><a class="spec" href="https://discord.gg/elixir">Elixir on Discord</a></li>
    <li><a class="spec" href="http://elixir.meetup.com">Meetups around the world</a></li>
    <li><a class="spec" href="https://github.com/elixir-lang/elixir/wiki">Wiki with events and resources maintained by the community</a></li>
  </ul>
</div>

<div id="eef" class="widget">
  <a href="https://erlef.org/" title="Join the Erlang Ecosystem Foundation"><img src="/images/logo/eef.png" alt="Join the Erlang Ecosystem Foundation" width="174" style="margin-top:-10px" /></a>
</div>
