<div class="widget">
  <h3 class="widget-title">Join the Community</h3>
  <ul>
    <li>#elixir-lang on freenode IRC</li>
    <li><a class="spec" href="http://groups.google.com/group/elixir-lang-talk" target="_blank">elixir-talk mailing list (questions)</a></li>
    <li><a class="spec" href="http://groups.google.com/group/elixir-lang-core" target="_blank">elixir-core mailing list (development)</a></li>
    <li><a class="spec" href="https://github.com/elixir-lang/elixir/issues" target="_blank">Issues tracker</a></li>
    <li><a class="spec" href="http://twitter.com/elixirlang" target="_blank">@elixirlang on Twitter</a></li>
  </ul>
</div>

<div class="widget">
  <h3 class="widget-title">Important links</h3>
  <ul>
    <li><a class="spec" href="https://github.com/elixir-lang/elixir/wiki" target="_blank">Wiki with articles, projects and talks done by the community</a></li>
    <li><a class="spec" href="http://elixir-lang.org/crash-course.html" target="_blank">Crash course for Erlang developers</a></li>
  </ul>
</div>

{% include learning-resources.html %}

<div class="widget">
  <h3 class="widget-title">Code editor support</h3>
  <ul>
    <li><a class="spec" href="https://github.com/elixir-lang/emacs-elixir" target="_blank">Emacs Mode</a></li>
    <li><a class="spec" href="https://github.com/elixir-lang/elixir-tmbundle" target="_blank">Textmate Bundle</a></li>
    <li><a class="spec" href="https://github.com/elixir-lang/vim-elixir" target="_blank">Vim Elixir</a></li>
  </ul>
</div>

{% include sponsors.html %}