<div class="widget">
  <h3 class="widget-title">Learning resources</h3>
  <ul>
    <li class="image"><a href="https://pragprog.com/book/elixir/programming-elixir" title="Programming Elixir: Functional |&gt; Concurrent |&gt; Pragmatic |&gt; Fun
– by Dave Thomas"><img src="http://imagery.pragprog.com/products/361/elixir_xlargecover.jpg?1368724397" alt="Programming Elixir cover" width="190" height="228" class="border" /></a></li>
    <li class="image"><a href="http://elixirsips.com" title="ElixirSips: Learn Elixir with Two Short Videos Each Week
– with Josh Adams"><img src="http://elixirsips.com/images/ElixirLangAd2_190x160.png" alt="ElixirSips cover" width="190" height="160" /></a></li>
    <li class="image"><a href="http://shop.oreilly.com/product/0636920030584.do" title="Introducing Elixir: Getting Started in Functional Programming
– by Simon St. Laurent, J. David Eisenberg"><img src="http://akamaicovers.oreilly.com/images/0636920030584/cat.gif" alt="Introducing Elixir cover" width="190" height="249" /></a></li>
    <li class="image"><a href="http://manning.com/juric/" title="Elixir in Action
– by Saša Jurić"><img src="http://manning.com/juric/juric_cover150.jpg" alt="Elixir in Action cover" width="190" height="238" /></a></li>
    <li class="image"><a href="http://www.exotpbook.com/" title="The Little Elixir and OTP Guidebook
– by Benjamin Tan Wei Hao"><img src="http://i.imgur.com/G6icQmt.png" alt="The Little Elixir and OTP Guidebook cover" width="190" height="274" /></a></li>
  </ul>
</div>
