<div class="widget">
  <h3 class="widget-title">Learning resources</h3>
  <ul>
    <li class="learning"><a href="http://pragprog.com/titles/elixir" target="_blank" title="Programming Elixir cover"><img src="http://imagery.pragprog.com/products/361/elixir_xlargebeta.jpg?1368724397" /></a></li>
    <li class="learning"><a href="https://peepcode.com/products/elixir" target="_blank" title="PeepCode Meet Elixir cover"><img src="https://peepcode.com/system/uploads/2013/peepcode-elixir-lang-cover.jpg" width="190" height="228" /></a></li>
  </ul>
</div>