<div class="widget news">
  <h3>
    News: <a href="/blog/2018/07/25/elixir-v1-7-0-released/">Elixir v1.7 released</a>
  </h3>
</div>

<div class="widget search">
  <form method="get" id="search-form" class="search-form" action="https://www.google.com/search" onsubmit="document.getElementById('searchq').value = document.getElementById('searchfield').value + ' site:elixir-lang.org | hexdocs.pm/elixir | hexdocs.pm/mix | hexdocs.pm/eex | hexdocs.pm/logger | hexdocs.pm/iex | hexdocs.pm/ex_unit'; return true;">
		<input type="hidden" id="searchq" name="q" value="">
    <input class="search-text" type="text" placeholder="Search..." id="searchfield" aria-label="Search box">
		<input class="search-submit button" name="submit" type="submit" value="Search" aria-label="Search button">
	</form>
</div>
