/* Elixir-lang.org NOTE: I have updated the @font-face declaration, so if you update the fonts, please update this. */
@font-face {
  font-family: 'icons';
  src: url('fonts/icons.eot'); /* IE9 Compat Modes */
  src: url('fonts/icons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/icons.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/icons.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/icons.svg#icons') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chevron-up:before {
	content: "\f0a2";
}

.icon-code:before {
	content: "\f05f";
}

.icon-file-code:before {
	content: "\f010";
}

.icon-file-text:before {
	content: "\f011";
}

.icon-link:before {
	content: "\f05c";
}

.icon-link-external:before {
	content: "\f07f";
}

