---
title: Posts by category
section: blog
---

{% include top.html %}

<div id="content">
  <div class="hfeed">
    <h2>Posts by category:</h2>
    <ul>
    {% for category in site.categories %}
      <li id="#{{ category | first }}">{{ category | first | capitalize }}</li>
        <ul>
        {% for posts in category %}
          {% for post in posts %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>
  </div><!-- .hfeed -->
</div><!-- #content -->

{% include bottom.html %}
