---
section: getting_started
---

{% include top.html %}

<div id="sidebar-primary" class="sidebar">
  {% include search.html %}

  <div class="widget">
    <h3 class="widget-title">Index</h3>
    <ol>
      <li>
        <a class="spec" href="/getting_started/1.html">Introduction</a>
        <ol>
          <li><a class="spec" href="/getting_started/1.html#toc_1">Installation</a></li>
          <li><a class="spec" href="/getting_started/1.html#toc_5">Interactive mode</a></li>
          <li><a class="spec" href="/getting_started/1.html#toc_6">Basic types</a></li>
          <li><a class="spec" href="/getting_started/1.html#toc_7">Operators</a></li>
        </ol>
      </li>
      <li>
        <a class="spec" href="/getting_started/2.html">Diving in</a>
        <ol>
          <li><a class="spec" href="/getting_started/2.html#toc_1">Lists and tuples</a></li>
          <li><a class="spec" href="/getting_started/2.html#toc_2">Keyword lists</a></li>
          <li><a class="spec" href="/getting_started/2.html#toc_3">Strings (binaries) and char lists (lists)</a></li>
          <li><a class="spec" href="/getting_started/2.html#toc_4">Unicode support</a></li>
          <li><a class="spec" href="/getting_started/2.html#toc_5">Blocks</a></li>
          <li><a class="spec" href="/getting_started/2.html#toc_6">Control flow structures</a></li>
          <li><a class="spec" href="/getting_started/2.html#toc_14">Built-in functions</a></li>
          <li><a class="spec" href="/getting_started/2.html#toc_15">Calling Erlang functions</a></li>
        </ol>
      </li>
      <li>
        <a class="spec" href="/getting_started/3.html">Modules</a>
        <ol>
          <li><a class="spec" href="/getting_started/3.html#toc_1">Compilation</a></li>
          <li><a class="spec" href="/getting_started/3.html#toc_2">Scripted mode</a></li>
          <li><a class="spec" href="/getting_started/3.html#toc_3">Functions and private functions</a></li>
          <li><a class="spec" href="/getting_started/3.html#toc_4">Recursion</a></li>
          <li><a class="spec" href="/getting_started/3.html#toc_5">Directives</a></li>
          <li><a class="spec" href="/getting_started/3.html#toc_9">Module attributes</a></li>
          <li><a class="spec" href="/getting_started/3.html#toc_10">Nesting</a></li>
          <li><a class="spec" href="/getting_started/3.html#toc_11">Aliases</a></li>
        </ol>
      </li>
      <li>
        <a class="spec" href="/getting_started/4.html">Records, Protocols &amp; Exceptions</a>
        <ol>
          <li><a class="spec" href="/getting_started/4.html#toc_1">Records</a></li>
          <li><a class="spec" href="/getting_started/4.html#toc_3">Protocols</a></li>
          <li><a class="spec" href="/getting_started/4.html#toc_7">Exceptions</a></li>
        </ol>
      </li>
      <li>
        <a class="spec" href="/getting_started/5.html">Macros</a>
        <ol>
          <li><a class="spec" href="/getting_started/5.html#toc_1">Building blocks of an Elixir program</a></li>
          <li><a class="spec" href="/getting_started/5.html#toc_2">Defining our own macro</a></li>
          <li><a class="spec" href="/getting_started/5.html#toc_3">Macros hygiene</a></li>
          <li><a class="spec" href="/getting_started/5.html#toc_4">Private macros</a></li>
          <li><a class="spec" href="/getting_started/5.html#toc_5">Code execution</a></li>
          <li><a class="spec" href="/getting_started/5.html#toc_6">Don't write macros</a></li>
        </ol>
      </li>
      <li>
        <a class="spec" href="/getting_started/6.html">Other topics</a>
        <ol>
          <li><a class="spec" href="/getting_started/6.html#toc_1">String sigils</a></li>
          <li><a class="spec" href="/getting_started/6.html#toc_2">Heredocs</a></li>
          <li><a class="spec" href="/getting_started/6.html#toc_3">Documentation</a></li>
          <li><a class="spec" href="/getting_started/6.html#toc_4">IEx Helpers</a></li>
          <li><a class="spec" href="/getting_started/6.html#toc_5">Function capture</a></li>
          <li><a class="spec" href="/getting_started/6.html#toc_6">Use</a></li>
          <li><a class="spec" href="/getting_started/6.html#toc_7">Comprehensions</a></li>
          <li><a class="spec" href="/getting_started/6.html#toc_8">Pseudo variables</a></li>
        </ol>
      </li>
      <li>
        <a class="spec" href="/getting_started/7.html">Where to go next</a>
        <ol>
          <li><a class="spec" href="/getting_started/7.html#toc_1">Applications</a></li>
          <li><a class="spec" href="/getting_started/7.html#toc_2">A Byte of Erlang</a></li>
          <li><a class="spec" href="/getting_started/7.html#toc_3">Reference Manual</a></li>
          <li><a class="spec" href="/getting_started/7.html#toc_4">Join The Community</a></li>
        </ol>
      </li>
    </ol>
  </div>
  <div class="widget">
    <h3 class="widget-title">Mix - a build tool for Elixir</h3>
    <ol>
      <li><a class="spec" href="/getting_started/mix/1.html">Introduction to Mix</a></li>
      <li><a class="spec" href="/getting_started/mix/2.html">Building OTP apps with Mix</a></li>
      <li><a class="spec" href="/getting_started/mix/3.html">Creating custom Mix tasks</a></li>
    </ol>
  </div>
  <div class="widget">
    <h3 class="widget-title">ExUnit - a unit test framework</h3>
    <ol>
      <li><a class="spec" href="/getting_started/ex_unit/1.html">Introduction to ExUnit</a></li>
    </ol>
  </div>

  {% include learning-resources.html %}
  {% include sponsors.html %}
</div>

<div id="content">
  <article>
    {{ content }}
  </article><!-- .hfeed -->

  {% if page.guide %}
  <div class="pagination loop-pagination">
    {% if page.guide > 1 %}
      <a href="{{page.guide | minus:1}}.html" class="previous page-numbers spec">&larr; Previous</a>
    {% endif %}
      <a class="page-numbers spec" href="#container">Top</a>
    {% if page.guide < page.total_guides %}
      <a href="{{page.guide | plus:1}}.html" class="next page-numbers spec">Next &rarr;</a>
    {% endif %}
  </div>
  {% endif %}
</div><!-- #content -->

{% include bottom.html %}
