---
section: getting_started
---

{% include top.html %}

<div id="sidebar-primary" class="sidebar">
  {% include search.html %}

  <div class="widget">
    <h3 class="widget-title">Index</h3>
    <ol>
      <li><a class="spec" href="/getting_started/1.html">Introduction</a></li>
      <li><a class="spec" href="/getting_started/2.html">Diving in</a></li>
      <li><a class="spec" href="/getting_started/3.html">Modules</a></li>
      <li><a class="spec" href="/getting_started/4.html">Protocols &amp; Records</a></li>
      <li><a class="spec" href="/getting_started/5.html">Macros</a></li>
      <li><a class="spec" href="/getting_started/6.html">Other topics</a></li>
      <li><a class="spec" href="/getting_started/7.html">Where to go next</a></li>
    </ol>
  </div>
  <div class="widget">
    <h3 class="widget-title">Mix - a build tool for Elixir</h3>
    <ol>
      <li><a class="spec" href="/getting_started/mix/1.html">Introduction to Mix</a></li>
      <li><a class="spec" href="/getting_started/mix/2.html">Creating custom Mix tasks</a></li>
    </ol>
  </div>
  <div class="widget">
    <h3 class="widget-title">ExUnit - a unit test framework</h3>
    <ol>
      <li><a class="spec" href="/getting_started/ex_unit/1.html">Introduction to ExUnit</a></li>
    </ol>
  </div>
</div>

<div id="content">
  <article>
    {{ content }}
  </article><!-- .hfeed -->

  {% if page.guide %}
  <div class="pagination loop-pagination">
    {% if page.guide > 1 %}
      <a href="{{page.guide | minus:1}}.html" class="previous page-numbers spec">&larr; Previous</a>
    {% endif %}
      <a class="page-numbers spec" href="#container">Top</a>
    {% if page.guide < page.total_guides %}
      <a href="{{page.guide | plus:1}}.html" class="next page-numbers spec">Next &rarr;</a>
    {% endif %}
  </div>
  {% endif %}
</div><!-- #content -->

{% include bottom.html %}
