---
title: Elixir
active: 1
---

{% include top.html %}

<div id="content">
	<div class="hfeed">
    <div id="post-60" class="hentry post publish post-1 odd author-admin sticky category-articles post_tag-css post_tag-development post_tag-wordpress">
			<a href="http://demo.alienwp.com/origin/sticky-post/" title="Sticky Post"><img src="http://demo.alienwp.com/origin/files/2012/01/Depositphotos_8562658_XXL-636x310.jpg" alt="Sticky Post" class="single-thumbnail featured"></a>

			<div class="sticky-header">
				<h2 class="entry-title"><a href="http://demo.alienwp.com/origin/sticky-post/" title="Sticky Post" rel="bookmark">Sticky Post</a></h2>
				<div class="byline"><abbr class="published" title="Friday, January 6th, 2012, 2:48 pm">January 6, 2012</abbr> · by <span class="author vcard"><a class="url fn n" href="http://demo.alienwp.com/origin/author/admin/" title="Griden">Griden</a></span> · in <span class="category"><a href="http://demo.alienwp.com/origin/category/articles/" rel="tag">Articles</a></span> </div>
			</div><!-- .sticky-header -->

			<div class="entry-summary">
				<p>Turpis et ridiculus nec, tempor elementum amet aliquet rhoncus, pulvinar mid. Tincidunt montes, arcu, adipiscing a vel, adipiscing adipiscing! Amet! Sociis, cursus lectus, amet turpis aliquam sagittis! Rhoncus nisi! Augue, elementum. Ac, lorem vel? Adipiscing non duis elementum, nunc. Integer?…</p>
			</div><!-- .entry-summary -->
		</div>

    <div id="post-108" class="hentry post publish post-2 even alt author-admin category-blog post_tag-development post_tag-jquery post_tag-video post_tag-wordpress">
			<a href="http://demo.alienwp.com/origin/responsive-video/" title="Responsive Video"><img src="http://demo.alienwp.com/origin/files/2012/01/video_responsive-150x150.jpg" alt="Responsive Video" class="archive-thumbnail featured"></a>
			<div class="sticky-header">
				<h2 class="entry-title"><a href="http://demo.alienwp.com/origin/responsive-video/" title="Responsive Video" rel="bookmark">Responsive Video</a></h2>
				<div class="byline"><abbr class="published" title="Tuesday, January 17th, 2012, 1:54 pm">January 17, 2012</abbr> · by <span class="author vcard"><a class="url fn n" href="http://demo.alienwp.com/origin/author/admin/" title="Griden">Griden</a></span> · in <span class="category"><a href="http://demo.alienwp.com/origin/category/blog/" rel="tag">Blog</a></span> </div>
			</div><!-- .sticky-header -->

			<div class="entry-summary">
				<p>Duis platea risus elementum in tortor parturient sed, pulvinar dignissim parturient a proin risus elementum sed velit natoque pid vel nunc in non, enim scelerisque turpis. Aenean mauris lundium, turpis massa diam eros nisi facilisis. Ultrices integer augue. Lacus turpis…</p>
			</div><!-- .entry-summary -->
		</div>
	</div><!-- .hfeed -->

  <div class="pagination loop-pagination"><span class="page-numbers current">1</span>
  <a class="page-numbers" href="http://demo.alienwp.com/origin/page/2/">2</a>
  <a class="next page-numbers" href="http://demo.alienwp.com/origin/page/2/">Next →</a></div>
</div><!-- #content -->


<div id="sidebar-primary" class="sidebar">
  {% include search.html %}

  <div class="widget">
    <h3 class="widget-title">Meta</h3>
    <ul>
			<li><a href="http://demo.alienwp.com/origin/wp-login.php">Log in</a></li>
			<li><a href="http://demo.alienwp.com/origin/feed/" title="Syndicate this site using RSS 2.0">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
			<li><a href="http://demo.alienwp.com/origin/comments/feed/" title="The latest comments to all posts in RSS">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
			<li><a href="http://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>
		</ul>
  </div>
</div>

{% include bottom.html %}