<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:epub="http://www.idpf.org/2007/ops">
  <head>
    <meta charset="utf-8" />
    <title><%= config.label %></title>
    <meta name="generator" content="BUPE" />
    <%= for style <- config.styles do %>
      <link type="text/css" rel="stylesheet" href="assets/<%= Path.basename(style) %>" />
    <% end %>
    <%= for script <- config.scripts do %>
     <script src="assets/<%= Path.basename(script) %>" type="text/javascript"></script>
    <% end %>
  </head>
  <body>
  <h1><%= config.label %></h1>
    <%= content %>
  </body>
</html>
